/node_modules
/public/hot
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/web/node_modules
/web/vendor
/web/public/hot
/web/public/vendor
/web/storage